{%extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block content%}

<div class="container text-center fw-bold">
    <h1 class="display-3">Google Route API</h1>
</div>
<div class="container">
    <form onsubmit="return false" action="/index" method="POST">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="forigin">Origin</label>
            <div class="col-sm-3">
                <input class="form-control form-control-sm" type="text" name="forigin" id="forigin" required>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="fdestination">Destination</label>
            <div class="col-sm-3">
                <input class="form-control form-control-sm" type="text" name="fdestination" id="fdestination" required>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="fmode">
                Travel Mode
            </label>
            <div class="col-sm-3">
             <!--   <input class="form-control form-control-sm" type="text" name="fmode" id="fmode" required>   -->   
                <select class="form-select" name="travelmode" id="travelmode">
                    <option value="1">Drive</option>
                    <option value="2">Walk</option>
                    <option value="3">Bicycle</option>
                    <option value="4">Two-Wheeler (two-wheeled motorized vehicle)</option>
                    <option value="5">Transit</option>
                </select>
            </div>
        </div>
        <div class="d-grid mx-auto">
            <button class="btn btn-primary" type="submit">Process API request</button>
        </div>
    </form>
</div>
<div class="container">
    <h2 class="lead"><h1 class="display-6">Follow this route:</h1>
    {% if result %}
            
                <ol>
                {% for my_item in result %}
                    <li>{{my_item}}</li>
                {%endfor%}
                </ol>      
    {% endif %}
    </h2>
</div>
<div class="container">
    <div id="map" data-polyline="{{ polyline }}" style="height: 500px; width: 100%;"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt1RtlPmF_HH5sOZOFVYV_E62N-M9qJlg&callback=initMap"></script>
<script src="https://unpkg.com/@mapbox/polyline"></script>
<script src="{{url_for('static',filename='js/app.js')}}"></script>
{%endblock%}
